.menu0{
  position: absolute;
    height: 460px;
    width: 200px;
    top: 235px;
    left: 130px;
}

.menu0 .item1{position: absolute;height: 45px;width: 200px;top: 0px;left: 0px;}
.menu0 .item2{position: absolute;height: 45px;width: 200px;top: 45px;left: 0px;}
.menu0 .item3{position: absolute;height: 45px;width: 200px;top: 150px;left: 0px;}
.menu0 .item4{position: absolute;height: 45px;width: 200px;top: 195px;left: 0px;}
.menu0 .item5{position: absolute;height: 45px;width: 200px;top: 240px;left: 0px;}

.menu{
position: absolute;
    height: 460px;
    width: 220px;
    top: 310px;
    left: 120px;
}

.menu .item1{position: absolute;height: 35px;width: 200px;top: 0px;  left: 0px;}
.menu .item2{position: absolute;height: 70px;width: 200px;top: 35px; left: 0px;}
.menu .item3{position: absolute;height: 45px;width: 200px;top: 105px;left: 0px;}
.menu .item4{position: absolute;height: 35px;width: 200px;top: 150px;left: 0px;}
.menu .item5{position: absolute;height: 35px;width: 200px;top: 190px;left: 0px;}
.menu .item6{position: absolute;height: 40px;width: 200px;top: 240px;left: 0px;}
.menu .item7{position: absolute;height: 45px;width: 200px;top: 330px;left: 0px;}
.menu .item8{position: absolute;height: 35px;width: 200px;top: 305px;left: 0px;}
.menu .item9{position: absolute;height: 45px;width: 200px;top: 340px;left: 0px;}